<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />

        <title>Dashboard</title>
        <meta content="" name="description" />
        <meta content="" name="keywords" />

        <!-- Favicons -->
        <link href="../assets/img/favicon.png" rel="icon" />
        <link
            href="../assets/img/apple-touch-icon.png"
            rel="apple-touch-icon"
        />

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect" />
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
        />

        <!-- Vendor CSS Files -->
        <link
            href="../assets/vendor/bootstrap/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            href="../assets/vendor/bootstrap-icons/bootstrap-icons.css"
            rel="stylesheet"
        />
        <link
            href="../assets/vendor/boxicons/css/boxicons.min.css"
            rel="stylesheet"
        />
        <link href="../assets/vendor/quill/quill.snow.css" rel="stylesheet" />
        <link href="../assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
        <link
            href="../assets/vendor/remixicon/remixicon.css"
            rel="stylesheet"
        />
        <link
            href="../assets/vendor/simple-datatables/style.css"
            rel="stylesheet"
        />

        <!-- Template Main CSS File -->
        <link href="../assets/css/style.css" rel="stylesheet" />

        <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    </head>

    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                <a href="index.html" class="logo d-flex align-items-center">
                    <img src="../assets/img/logo.png" alt="" />
                    <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
                <i class="bi bi-list toggle-sidebar-btn"></i>
            </div>
            <!-- End Logo -->

            <div class="search-bar">
                <form
                    class="search-form d-flex align-items-center"
                    method="POST"
                    action="#"
                >
                    <input
                        type="text"
                        name="query"
                        placeholder="Search"
                        title="Enter search keyword"
                    />
                    <button type="submit" title="Search">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
            <!-- End Search Bar -->

            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">
                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link nav-icon search-bar-toggle" href="#">
                            <i class="bi bi-search"></i>
                        </a>
                    </li>
                    <!-- End Search Icon-->

                    <li class="nav-item dropdown">
                        <a
                            class="nav-link nav-icon"
                            href="#"
                            data-bs-toggle="dropdown"
                        >
                            <i class="bi bi-bell"></i>
                            <span class="badge bg-primary badge-number"
                                >4</span
                            > </a
                        ><!-- End Notification Icon -->

                        <ul
                            class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications"
                        >
                            <li class="dropdown-header">
                                You have 4 new notifications
                                <a href="#"
                                    ><span
                                        class="badge rounded-pill bg-primary p-2 ms-2"
                                        >View all</span
                                    ></a
                                >
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li class="notification-item">
                                <i
                                    class="bi bi-exclamation-circle text-warning"
                                ></i>
                                <div>
                                    <h4>Lorem Ipsum</h4>
                                    <p>Quae dolorem earum veritatis oditseno</p>
                                    <p>30 min. ago</p>
                                </div>
                            </li>

                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li class="notification-item">
                                <i class="bi bi-x-circle text-danger"></i>
                                <div>
                                    <h4>Atque rerum nesciunt</h4>
                                    <p>Quae dolorem earum veritatis oditseno</p>
                                    <p>1 hr. ago</p>
                                </div>
                            </li>

                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li class="notification-item">
                                <i class="bi bi-check-circle text-success"></i>
                                <div>
                                    <h4>Sit rerum fuga</h4>
                                    <p>Quae dolorem earum veritatis oditseno</p>
                                    <p>2 hrs. ago</p>
                                </div>
                            </li>

                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li class="notification-item">
                                <i class="bi bi-info-circle text-primary"></i>
                                <div>
                                    <h4>Dicta reprehenderit</h4>
                                    <p>Quae dolorem earum veritatis oditseno</p>
                                    <p>4 hrs. ago</p>
                                </div>
                            </li>

                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li class="dropdown-footer">
                                <a href="#">Show all notifications</a>
                            </li>
                        </ul>
                        <!-- End Notification Dropdown Items -->
                    </li>
                    <!-- End Notification Nav -->

                    <li class="nav-item dropdown">
                        <a
                            class="nav-link nav-icon"
                            href="#"
                            data-bs-toggle="dropdown"
                        >
                            <i class="bi bi-chat-left-text"></i>
                            <span class="badge bg-success badge-number"
                                >3</span
                            > </a
                        ><!-- End Messages Icon -->

                        <ul
                            class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages"
                        >
                            <li class="dropdown-header">
                                You have 3 new messages
                                <a href="#"
                                    ><span
                                        class="badge rounded-pill bg-primary p-2 ms-2"
                                        >View all</span
                                    ></a
                                >
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li class="message-item">
                                <a href="#">
                                    <img
                                        src="../assets/img/messages-1.jpg"
                                        alt=""
                                        class="rounded-circle"
                                    />
                                    <div>
                                        <h4>Maria Hudson</h4>
                                        <p>
                                            Velit asperiores et ducimus soluta
                                            repudiandae labore officia est ut...
                                        </p>
                                        <p>4 hrs. ago</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li class="message-item">
                                <a href="#">
                                    <img
                                        src="../assets/img/messages-2.jpg"
                                        alt=""
                                        class="rounded-circle"
                                    />
                                    <div>
                                        <h4>Anna Nelson</h4>
                                        <p>
                                            Velit asperiores et ducimus soluta
                                            repudiandae labore officia est ut...
                                        </p>
                                        <p>6 hrs. ago</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li class="message-item">
                                <a href="#">
                                    <img
                                        src="../assets/img/messages-3.jpg"
                                        alt=""
                                        class="rounded-circle"
                                    />
                                    <div>
                                        <h4>David Muldon</h4>
                                        <p>
                                            Velit asperiores et ducimus soluta
                                            repudiandae labore officia est ut...
                                        </p>
                                        <p>8 hrs. ago</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">Show all messages</a>
                            </li>
                        </ul>
                        <!-- End Messages Dropdown Items -->
                    </li>
                    <!-- End Messages Nav -->

                    <li class="nav-item dropdown pe-3">
                        <a
                            class="nav-link nav-profile d-flex align-items-center pe-0"
                            href="#"
                            data-bs-toggle="dropdown"
                        >
                            <img
                                src="../assets/img/profile-img.jpg"
                                alt="Profile"
                                class="rounded-circle"
                            />
                            <span class="d-none d-md-block dropdown-toggle ps-2"
                                >Anhari</span
                            > </a
                        ><!-- End Profile Iamge Icon -->

                        <ul
                            class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
                        >
                            <li class="dropdown-header">
                                <h6>Kevin Anderson</h6>
                                <span>Web Designer</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li>
                                <a
                                    class="dropdown-item d-flex align-items-center"
                                    href="users-profile.html"
                                >
                                    <i class="bi bi-person"></i>
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li>
                                <a
                                    class="dropdown-item d-flex align-items-center"
                                    href="users-profile.html"
                                >
                                    <i class="bi bi-gear"></i>
                                    <span>Account Settings</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li>
                                <a
                                    class="dropdown-item d-flex align-items-center"
                                    href="pages-faq.html"
                                >
                                    <i class="bi bi-question-circle"></i>
                                    <span>Need Help?</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li>
                                <a
                                    class="dropdown-item d-flex align-items-center"
                                    href="#"
                                >
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>
                        </ul>
                        <!-- End Profile Dropdown Items -->
                    </li>
                    <!-- End Profile Nav -->
                </ul>
            </nav>
            <!-- End Icons Navigation -->
        </header>
        <!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">
            <ul class="sidebar-nav" id="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="dashboard.html">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <!-- End Dashboard Nav -->

                <li class="nav-item">
                    <a
                        class="nav-link collapsed"
                        data-bs-target="#pengaturan-nav"
                        data-bs-toggle="collapse"
                        href="#"
                    >
                        <i class="bi bi-gear"></i><span>Pengaturan</span
                        ><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul
                        id="pengaturan-nav"
                        class="nav-content collapse show"
                        data-bs-parent="#sidebar-nav"
                    >
                        <li>
                            <a href="divisi.html" class="active">
                                <i class="bi bi-circle"></i><span>Divisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="unit.html">
                                <i class="bi bi-circle"></i><span>Unit</span>
                            </a>
                        </li>
                        <li>
                            <a href="akses.html">
                                <i class="bi bi-circle"></i><span>Akses</span>
                            </a>
                        </li>
                        <li>
                            <a href="role.html">
                                <i class="bi bi-circle"></i><span>Role</span>
                            </a>
                        </li>
                        <li>
                            <a href="pengguna.html">
                                <i class="bi bi-circle"></i
                                ><span>Pengguna</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- End Components Nav -->

                <li class="nav-item">
                    <a
                        class="nav-link collapsed"
                        data-bs-target="#project-nav"
                        data-bs-toggle="collapse"
                        href="#"
                    >
                        <i class="bi bi-diagram-3"></i><span>Project</span
                        ><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul
                        id="project-nav"
                        class="nav-content collapse"
                        data-bs-parent="#sidebar-nav"
                    >
                        <li>
                            <a href="project.html">
                                <i class="bi bi-circle"></i
                                ><span>Daftar Project</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- End Forms Nav -->

                <li class="nav-item">
                    <a
                        class="nav-link collapsed"
                        data-bs-target="#perkerjaan-nav"
                        data-bs-toggle="collapse"
                        href="#"
                    >
                        <i class="bi bi-list-check"></i
                        ><span>Pekerjaan Harian</span
                        ><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul
                        id="perkerjaan-nav"
                        class="nav-content collapse"
                        data-bs-parent="#sidebar-nav"
                    >
                        <li>
                            <a href="pekerjaan.html">
                                <i class="bi bi-circle"></i
                                ><span>Pekerjaan</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- End Tables Nav -->

                <li class="nav-item">
                    <a
                        class="nav-link collapsed"
                        data-bs-target="#dokumen-nav"
                        data-bs-toggle="collapse"
                        href="#"
                    >
                        <i class="bi bi-folder"></i><span>Dokumen</span
                        ><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul
                        id="dokumen-nav"
                        class="nav-content collapse"
                        data-bs-parent="#sidebar-nav"
                    >
                        <li>
                            <a href="dokumen.html">
                                <i class="bi bi-circle"></i
                                ><span>Daftar Dokument</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- End Charts Nav -->

                <li class="nav-item">
                    <a
                        class="nav-link collapsed"
                        data-bs-target="#eoffice-nav"
                        data-bs-toggle="collapse"
                        href="#"
                    >
                        <i class="bi bi-envelope-open"></i><span>E-Office</span
                        ><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul
                        id="eoffice-nav"
                        class="nav-content collapse"
                        data-bs-parent="#sidebar-nav"
                    >
                        <li>
                            <a href="buat_surat.html">
                                <i class="bi bi-circle"></i
                                ><span>Buat Surat</span>
                            </a>
                        </li>
                        <li>
                            <a href="surat_masuk.html">
                                <i class="bi bi-circle"></i
                                ><span>Surat Masuk</span>
                            </a>
                        </li>
                        <li>
                            <a href="surat_keluar.html">
                                <i class="bi bi-circle"></i
                                ><span>Surat Keluar</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link collapsed"
                        data-bs-target="#helpdesk-nav"
                        data-bs-toggle="collapse"
                        href="#"
                    >
                        <i class="bi bi-telephone"></i><span>Helpdesk</span
                        ><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul
                        id="helpdesk-nav"
                        class="nav-content collapse"
                        data-bs-parent="#sidebar-nav"
                    >
                        <li>
                            <a href="buat_surat.html">
                                <i class="bi bi-circle"></i><span>Tiket</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- End Icons Nav -->

                <li class="nav-heading">Lainnya</li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="info.html">
                        <i class="bi bi-info-square"></i>
                        <span>Info</span>
                    </a>
                </li>
                <!-- End Blank Page Nav -->
            </ul>
        </aside>
        <!-- End Sidebar-->

        <main id="main" class="main">
            <div class="pagetitle">
                <h1>Pengaturan Divisi</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Pengaturan</a>
                        </li>
                        <li class="breadcrumb-item active">Divisi</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->

            <section class="section dashboard">
                <div class="row">
                    <div class="modal fade" id="basicModal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title text-white">
                                        Tambah Data Divisi
                                    </h5>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <div class="col-12">
                                        <label for="kode" class="form-label"
                                            >Kode</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="kode"
                                        />
                                    </div>
                                    <div class="col-12">
                                        <label for="nama" class="form-label"
                                            >Nama Divisi</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="nama"
                                        />
                                    </div>
                                    <div class="col-12">
                                        <label
                                            for="deskripsi"
                                            class="form-label"
                                            >Deskripsi</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="deskripsi"
                                        />
                                    </div>
                                    <fieldset class="row mb-3 mt-2">
                                        <legend
                                            class="col-form-label col-sm-2 pt-0"
                                        >
                                            Radios
                                        </legend>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    name="gridRadios"
                                                    id="aktif"
                                                    value="option1"
                                                    checked
                                                />
                                                <label
                                                    class="form-check-label"
                                                    for="aktif"
                                                >
                                                    Aktif
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    name="gridRadios"
                                                    id="tidakaktif"
                                                    value="option2"
                                                />
                                                <label
                                                    class="form-check-label"
                                                    for="tidakaktif"
                                                >
                                                    Tidak Aktif
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                    >
                                        Keluar
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-success"
                                    >
                                        Simpan
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Basic Modal-->
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12 d-flex flex-row-reverse">
                            <button
                                type="button"
                                class="btn btn-sm btn-primary mb-2"
                                data-bs-toggle="modal"
                                data-bs-target="#basicModal"
                            >
                                Tambah Data
                            </button>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Daftar Data Divisi</h5>

                                <!-- Table with stripped rows -->
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Kode</th>
                                            <th scope="col">Nama Divisi</th>
                                            <th scope="col">Deskripsi</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Aksi</th>
                                            <th scope="col">
                                                Tanggal Modifikasi
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>IT</td>
                                            <td>Divisi IT</td>
                                            <td>Divisi Teknologi Informasi</td>
                                            <td>Aktif</td>
                                            <td>
                                                <div
                                                    class="btn-group"
                                                    role="group"
                                                    aria-label="Basic example"
                                                >
                                                    <button
                                                        type="button"
                                                        class="btn btn-sm btn-info text-white"
                                                    >
                                                        Ubah
                                                    </button>

                                                    <button
                                                        type="button"
                                                        class="btn btn-sm btn-danger"
                                                    >
                                                        Hapus
                                                    </button>
                                                </div>
                                            </td>
                                            <td><i>28 Maret 2022</i></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Operator</td>
                                            <td>Divisi Operator</td>
                                            <td>Divisi Untuk Pengoperasian</td>
                                            <td>Aktif</td>
                                            <td>
                                                <div
                                                    class="btn-group"
                                                    role="group"
                                                    aria-label="Basic example"
                                                >
                                                    <button
                                                        type="button"
                                                        class="btn btn-sm btn-info text-white"
                                                    >
                                                        Ubah
                                                    </button>

                                                    <button
                                                        type="button"
                                                        class="btn btn-sm btn-danger"
                                                    >
                                                        Hapus
                                                    </button>
                                                </div>
                                            </td>
                                            <td><i>28 April 2022</i></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>SDM</td>
                                            <td>Divisi HRD</td>
                                            <td>Human Resource Divisi</td>
                                            <td>Aktif</td>
                                            <td>
                                                <div
                                                    class="btn-group"
                                                    role="group"
                                                    aria-label="Basic example"
                                                >
                                                    <button
                                                        type="button"
                                                        class="btn btn-sm btn-info text-white"
                                                    >
                                                        Ubah
                                                    </button>

                                                    <button
                                                        type="button"
                                                        class="btn btn-sm btn-danger"
                                                    >
                                                        Hapus
                                                    </button>
                                                </div>
                                            </td>
                                            <td><i>28 Maret 2022</i></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>LOG</td>
                                            <td>Logistik</td>
                                            <td>Divisi Pengadaan</td>
                                            <td>Aktif</td>
                                            <td>
                                                <div
                                                    class="btn-group"
                                                    role="group"
                                                    aria-label="Basic example"
                                                >
                                                    <button
                                                        type="button"
                                                        class="btn btn-sm btn-info text-white"
                                                    >
                                                        Ubah
                                                    </button>

                                                    <button
                                                        type="button"
                                                        class="btn btn-sm btn-danger"
                                                    >
                                                        Hapus
                                                    </button>
                                                </div>
                                            </td>
                                            <td><i>28 Maret 2022</i></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- End Table with stripped rows -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="copyright">
                &copy; Copyright <strong><span>NiceAdmin</span></strong
                >. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by
                <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </footer>
        <!-- End Footer -->

        <a
            href="#"
            class="back-to-top d-flex align-items-center justify-content-center"
            ><i class="bi bi-arrow-up-short"></i
        ></a>

        <!-- Vendor JS Files -->
        <script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/vendor/chart.js/chart.min.js"></script>
        <script src="../assets/vendor/echarts/echarts.min.js"></script>
        <script src="../assets/vendor/quill/quill.min.js"></script>
        <script src="../assets/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="../assets/vendor/tinymce/tinymce.min.js"></script>
        <script src="../assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="../assets/js/main.js"></script>
    </body>
</html>
